.activesTabs--wrapper {
  background-color: #000;
  border-radius: 8px;
  padding: 7px 8px;
  display: flex;
}
.activesTabs--item {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  width: 25%;
  flex: 1 1 auto;
  border-radius: 8px;
  padding: 10px 0;
}
.activesTabs--item--active {
  background-image: linear-gradient(to top, #fe8d03, #fcbf04);
}
.activesTabs--item + .activesTabs--item {
  margin-left: 7px;
}

.activesContent {
  margin-top: 7px;
}
.activesContent--item {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to bottom, #104e1d, #297428);
  border-radius: 10px;
  padding: 10px;
}
.activesContent--item + .activesContent--item {
  margin-top: 7px;
}
.activesContent--itemIcon {
  width: 60px;
  height: 60px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 41, 15, 0.6);
  border-radius: 10px;
  margin-right: 10px;
}
.activesContent--itemIcon img {
  width: 43px;
  height: 43px;
}
.activesContent--itemTextTitle {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 12px;
}
.activesContent--itemTextTitle img {
  margin-right: 4px;
}
.activesContent--itemTextBody {
  display: flex;
}
.activesContent--itemTextBodyCol {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-left: 10px;
}
.activesContent--itemTextBodyCol:first-of-type {
  padding-left: 0;
}
.activesContent--itemTextBodyCol + .activesContent--itemTextBodyCol {
  margin-left: 10px;
  border-left: 1px solid #8cad90;
}
.activesContent--itemTextBodyColTitle {
  font-weight: 400;
  font-size: 10px;
  line-height: normal;
  color: #8cad90;
  margin: 0;
}
.activesContent--itemTextBodyColValue {
  font-weight: 700;
  font-size: 11px;
  line-height: normal;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  margin: 0;
}
.activesContent--itemTextBodyColCoinIcon {
  width: 11px;
  margin-left: 2px;
  margin-top: 1px;
}
.activesContent--itemIncome {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 59px;
}
.activesContent--itemIncomePrice {
  font-weight: 700;
  font-size: 15px;
  line-height: normal;
  text-align: right;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
}
.activesContent--itemIncomePriceCoinIcon {
  width: 14px;
  margin-left: 2px;
  margin-top: 2px;
}
.activesContent--itemIncomeValue {
  font-weight: 700;
  font-size: 11px;
  line-height: normal;
  text-align: right;
  color: #4fe34f;
  display: inline-flex;
  align-items: center;
}
.activesContent--itemIncomeValueCoinIcon {
  width: 11px;
  margin-left: 2px;
  margin-top: 1px;
}

.activesModal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to bottom, #104e1d, #297428);
  padding-top: 10px;
  border-radius: 8px 8px 0 0;
  transition: all 0.2s ease;
}
.activesModal--hidden {
  transform: translateY(100%);
}
.activesModal--titleWrapper {
  margin-bottom: 22px;
}
.activesModal--title {
  font-weight: 700;
  font-size: 21px;
  line-height: normal;
  color: #ffffff;
}
.activesModal--title img {
  width: 18px;
  margin-right: 7px;
}
.activesModal--close {
  appearance: none;
  border: 0 none;
  width: 24px;
  height: 24px;
  background: transparent;
}
.activesModal--logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.activesModal--logoWrapperBg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.activesModal--logo {
  width: 104px;
  height: 104px;
  background-color: #fff;
  border-radius: 50%;
  padding-left: 2px;
  padding-top: 2px;
  position: relative;
  z-index: 1;
}
.activesModal--logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.activesModal--income {
  margin-top: 6px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activesModal--incomePrice {
  font-weight: 700;
  font-size: 21px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  position: relative;
}
.activesModal--incomePrice::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -24px;
  top: 5px;
  background-image: url("/img/icon-coin.svg");
  background-size: cover;
}
.activesModal--incomeValue {
  font-weight: 700;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  color: #4fe34f;
  position: relative;
}
.activesModal--incomeValue::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: -17px;
  top: 4px;
  background-image: url("/img/icon-coin.svg");
  background-size: cover;
}
.activesModal--text {
  padding-left: 38px;
  padding-right: 38px;
  font-weight: 700;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}
.activesModal--statsWrapper {
  margin-top: 24px;
}
.activesModal--statsCol {
  padding-left: 13px;
  padding-right: 13px;
}
.activesModal--statsCol + .activesModal--statsCol {
  border-left: 1px solid #8cad90;
}
.activesModal--statsColCoinIcon {
  width: 14px;
}
.activesModal--statsColTitle {
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  color: #8cad90;
  margin: 0;
}
.activesModal--statsColValue {
  font-weight: 700;
  font-size: 15px;
  line-height: normal;
  color: #ffffff;
  margin: 0;
}
.activesModal--statsColValue.activesModal--startPrice {
  position: relative;
  display: inline-flex;
}
.activesModal--statsColValue.activesModal--startPrice::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: -17px;
  top: 4px;
  background-image: url("/img/icon-coin.svg");
  background-size: cover;
}
.activesModal--button {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  appearance: none;
  border: 0 none;
  background-image: linear-gradient(to top, #fe8d03, #fcbf04);
  padding: 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

.activesBlur {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 199;
}
.activesBlur--hidden {
  display: none;
}

.pageContent.blur > .container-fluid {
  filter: blur(10px);
}

/*# sourceMappingURL=actives.css.map */
