.screenTopNotification--avatar {
  width: 27px;
  height: 27px;
  margin-right: 9px;
}

.screenTopNotification--container-lang {
  height: 37px;
}
.screenTopNotification--container-lang img {
  margin-top: 4px;
  margin-left: 4px;
}

.tapGame {
  margin-top: 38px;
}
.tapGame--game {
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  appearance: none;
  -webkit-appearance: none;
  border: 0 none;
  background: transparent;
  padding: 0;
}
.tapGame--game::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
}
.tapGame--player {
  position: relative;
  z-index: 2;
  width: 252px;
  height: 294px;
}
.tapGame--container {
  position: relative;
  width: 252px;
  height: 294px;
}
.tapGame--container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 252px;
  height: 252px;
  margin-top: -126px;
  margin-left: -126px;
  background-image: url("/img/tap-bg.svg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(79, 227, 79, 0.8), 0 0 33px rgba(79, 227, 79, 0.6), 0 0 50px rgba(79, 227, 79, 0.4), 0 0 83px rgba(79, 227, 79, 0.2);
  transition: all 0.5s ease;
}
.tapGame--tapped .tapGame--container::after {
  box-shadow: 2px 2px 6px rgba(0, 255, 0, 0.8), 2px 2px 33px rgba(0, 255, 0, 0.6), 2px 2px 50px rgba(0, 255, 0, 0.4), 2px 2px 83px rgba(0, 255, 0, 0.2), -2px -2px 6px rgba(0, 255, 0, 0.8), -2px -2px 33px rgba(0, 255, 0, 0.6), -2px -2px 50px rgba(0, 255, 0, 0.4), -2px -2px 83px rgba(0, 255, 0, 0.2);
}

.level--barsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.level--bar {
  width: 15px;
  background-color: #000;
}
.level--bar + .level--bar {
  margin-left: 4px;
}
.level--bar--active {
  background-image: linear-gradient(to top, #fe8d03, #fcbf04);
}
.level--bar--1 {
  height: 11px;
}
.level--bar--2 {
  height: 22px;
}
.level--bar--3 {
  height: 33px;
}
.level--bar--4 {
  height: 44px;
}
.level--bar--5 {
  height: 55px;
}
.level--bar--6 {
  height: 66px;
}
.level--bar--7 {
  height: 77px;
}
.level--bar--8 {
  height: 88px;
}
.level--bar--9 {
  height: 99px;
}
.level--info {
  background-color: #000;
  display: flex;
  justify-content: center;
  padding: 4px 32px;
  margin-top: 7px;
  border-radius: 4px;
}
.level--info span {
  font-weight: 700;
  font-size: 10px;
  line-height: normal;
  text-align: center;
}
.level--infoDivider {
  margin-left: 4px;
  margin-right: 4px;
}
.level--infoPNL {
  color: #FE9204;
}
.level--energy {
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  color: #ffffff;
}
.level--energyIcon {
  margin-right: 4px;
}

.levelModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 71px;
  background-color: #01290F;
  z-index: 40;
  overflow-y: auto;
}
.levelModal .swiper-button-next::after, .levelModal .swiper-button-prev::after {
  background-image: url("/img/icon-slide-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  width: 18px;
  height: 28px;
}
.levelModal .swiper-button-prev::after {
  rotate: 180deg;
}
.levelModal .carousel-control-prev-icon {
  background-image: url("/img/icon-slide-right.svg");
  rotate: 180deg;
}
.levelModal .carousel-control-next-icon {
  background-image: url("/img/icon-slide-right.svg");
}
.levelModal--carouselText {
  width: 100%;
  background: #000;
  border-radius: 8px;
  padding: 13px;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}
.levelModal--stats {
  margin-top: 8px;
  box-shadow: 0 2.0000259876px 2.0000259876px 0 rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to right, #104e1d, #297428);
  border-radius: 8px;
}
.levelModal--statsRow {
  padding: 11px 10px;
  display: flex;
  justify-content: space-between;
}
.levelModal--statsRow + .levelModal--statsRow {
  border-top: 2px solid #01290f;
}
.levelModal--statsText {
  font-weight: 700;
  font-size: 13px;
  line-height: normal;
  color: #ffffff;
}
.levelModal--statsValue {
  font-weight: 700;
  font-size: 13px;
  line-height: normal;
  text-align: right;
  color: #4fe34f;
  display: inline-flex;
  align-items: center;
}
.levelModal--statsValue img {
  width: 13px;
  margin-left: 2px;
}
.levelModal--ranking {
  background-image: linear-gradient(to bottom, #fe8d03, #fcbf04);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 700;
  font-size: 15px;
  line-height: normal;
  color: #ffffff;
  margin-top: 7px;
  border-radius: 8px;
}
.levelModal--ranking img {
  margin-right: 8px;
  border-radius: 4px;
}

.tapResult {
  font-weight: 700;
  font-size: 28px;
  position: fixed;
  z-index: 20;
  transition: all 0.5s ease;
  pointer-events: none;
}

/*# sourceMappingURL=home.css.map */
