body.wrapper {
  padding: 0;
  margin: 0;
  background-color: #01290F;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  width: 100%;
  max-width: 100%;
  padding-bottom: 90px;

  * {
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
body.wrapper.modalShown {
  overflow: hidden;
}
html, body, div, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.screenTopNotification {
  background-color: #07201f;
  padding-top: 10px;
  padding-bottom: 10px;

  &--container {
    background-color: #000;
    padding: 5px 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
  }
  &--icon {
    width: 20px;
    margin-left: 4px;
  }
  &--text {
    font-weight: 700;
    font-size: 15px;
    line-height: normal;
    color: #ffffff;
  }
}

.screenHeader {
  padding-top: 5px;
  justify-content: center;

  &--title {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
  }
}

.bottomMenu {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #022a10;
  padding: 10px;

  &--container {
    display: flex;
    justify-content: space-around;
  }

  &--item {
    display: flex;
    flex: 0 1 auto;
    width: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;

    &Icon {
      height: 20px;
      margin-bottom: 4px;
    }
    &Text {
      font-size: 10px;
      font-weight: 700;
      color: #9aaa9f;
      line-height: 7px;
    }

    &--active {
      background-image: linear-gradient(to top, #fe8d03, #fcbf04);
      border-radius: 8px;
      .bottomMenu--itemText {
        color: #fff;
      }
    }
  }
}

.toast {
  left: 20px !important;
  right: 20px !important;
  bottom: 80px !important;
  width: auto;
  position: fixed;
  background-image: linear-gradient(to top, #fe8d03, #fcbf04);

  &-body {
    font-weight: 500;
    font-size: 15px;
  }
}
.btn-primary {
  background-image: linear-gradient(to top, #fe8d03, #fcbf04);
  border: 0 none;
  font-weight: 700;
  padding: 7px 12px;
}
.form-control:focus {
  border-color: #fe8d03;
}