.dailyCard {
  display: flex;
  position: relative;
  background-image: url("/img/card-of-the-day-bg@3x.png");
  background-position: center;
  background-size: 102%;
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-bottom: 7px;

  &--left {
    width: 55%;
    padding: 11px;
  }
  &--right {
    width: 45%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 11px;
  }
  &--title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 17px;
  }
  &--reward {
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    color: #ffffff;
    border-radius: 8px;
    background-color: #01290F;
    padding: 9px 12px;
    display: inline-flex;

    img {
      margin-left: 6px;
      margin-top: 2px;
    }
  }
  &--timer {
    position: relative;
    width: 82px;
    height: 93px;
    background-image: url("/img/card-of-the-day-timer.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &Countdown {
      position: absolute;
      right: 0;
      left: 0;
      top: 38px;
      text-align: center;
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      color: #01290f;
    }
  }
  &--cornerText {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px 0 8px 0;
    background-color: #FF8E04;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding: 5px 22px;
  }
}
.activesModalDaily {
  background-image: url("/img/daily-modal-bg@3x.png") !important;
  background-size: cover;
  background-position: left top;
  padding-bottom: 7px;

  &--cornerText {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px 0 8px 0;
    background-color: #FF8E04;
    font-size: 15px;
    line-height: 15px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    padding: 5px 22px;
  }
  &--question {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-top: 13px;
    margin-bottom: 22px;
  }
  &--answer {
    appearance: none;
    border: 0 none;
    border-radius: 8px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 17px;
    background-color: #01290F;
    margin-bottom: 7px;
  }
}